{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}

{%
  set product_classes = [
    'product-single',
    product_entity.field_car_status.value == 'sold' ? 'product-sold',
  ]
%}

<article{{ attributes.addClass(product_classes) }}>
<div class="row">

  <div class="col-xs-12 col-sm-4 second-col float-right">
    <div class="mobile-car-image">
      {{- product.field_car_images -}}
    </div>
    <div class="calt-h">
      <h2 class="product-title">
        {{- product.title -}}
      </h2>
      {{- product.field_car_type -}}
      {{- product.body -}}
    </div>
    <button class="btn btn-info icon-print btn-lg print-btn" onclick="window.print()">Print page</button>
    <div class="car-action">
      <a data-dialog-type="modal" href="{{ url('<front>') }}trilliumlincoln_utility/email_sales_modal_form?pid={{ product_entity.id }}" class="use-ajax btn btn-info btn-lg">Email Sales</a>
    </div>
    {% if product.field_car_msrp %}
    {{- product.field_car_msrp -}}
    {% endif %}
    {{- product.variations -}}
    <div class="car-action">
      <a data-dialog-type="modal" href="{{ url('<front>') }}trilliumlincoln_utility/test_drive_modal_form?pid={{ product_entity.id }}" class="use-ajax btn btn-info btn-lg">BOOK A TEST DRIVE</a>
    </div>
    {{- calculator_form -}}
  </div>

  <div class="col-xs-12 col-sm-8 first-col float-right">
    {{- product.field_car_images -}}

    <div class="product-content">
      <div class="field--label col-xs-12">specifications</div>
    {{- product|without('variation_attributes')
    |without('field_car_images') 
    |without('field_car_status') 
    |without('field_car_msrp') 
    |without('title') 
    |without('field_car_type') 
    |without('body') 
    |without('variations') 
    |without('field_car_accessory') 
    -}}
    </div>
    <div class="product-accessory">
      {{- product.field_car_accessory -}}
    </div>
  </div>

  {% if car_nav.prev or car_nav.next %}
    <div class="car-nav col-xs-12">
      {% if car_nav.prev %}
        {{- car_nav.prev -}}
      {% endif %}
      {% if car_nav.next %}
        {{- car_nav.next -}}
      {% endif %}
    </div>
  {% endif %}

</div>

<div class="modal fade" id="modal-box" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    <div class="modal-content">
      <div class="modal-body"></div>
    </div><!-- /.modal-content -->
    <div class="modal-nav">
      <a class="prev" href="#"></a>
      <a class="next" href="#"></a>
    </div>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</article>
